[package]
name = "krates"
version = "0.8.0"
description = "Create graphs of crates gathered from cargo metadata"
authors = ["Embark <opensource@embark-studios.com>", "Jake Shadle <jake.shadle@embark-studios.com>"]
edition = "2018"
repository = "https://github.com/EmbarkStudios/krates"
license = "MIT OR Apache-2.0"
readme = "README.md"
documentation = "https://docs.rs/krates"
homepage = "https://github.com/EmbarkStudios/krates"
keywords = ["cargo", "metadata", "graph"]

[features]
default = []
# Adds support for filtering target specific dependencies
targets = ["cfg-expr/targets"]
#features = []

[dependencies]
# Used for acquiring and/or deserializing `cargo metadata` output
cargo_metadata = "0.14"
# Used to parse and evaluate cfg() expressions for dependencies
cfg-expr = "0.8"
# Used to create and traverse graph structures
petgraph = "0.6"
# Used for checking version requirements
semver = "1.0"

[dev-dependencies]
# Used to print colored diffs in case of test failures
similar = "1.3"
# Used to deserialize test files into metadata we can load
serde_json = "1.0"
